*{
padding: 0px;
margin: 0px;
    
}

html, body {
margin: 0;
padding: 0;
font-family: 'Amiri', serif;


}
body{
    width: 1000px;
    height: auto;
    background: rgba(252,234,187,1);
   
    
}
h1, h2, p{
    color: #d62240;
    text-align: center;
}

header>h1  {
    width: 900px; 
    background-color: #deb033;
     font-size: 20px;
    float: left;
}


main{
    
    width: 900px;
    height: 590px;
    margin-left: 100px;
    margin-top: 20px;
        
    background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );}

.frame{
    width: 500px;
    height: 520px;
    float: left;
}

.frame, .content, footer{
    margin-top: 18px;}
.content{
    
    width: 250px;
    height: auto;
    float: left;
    margin-left: 120px;
    font-size:18px;
    
}

footer{ 
    width: 900px;
    height: 30px;
    ;
    float: left;
    background-color:#deb033; 
    text-align: center;
    font-size: 18px;
    
}
canvas {
  display: block;
}
